@{
    ViewBag.Title = "Assignments";
}


<br><br>
<h3 class="asmthead fade-toggle">My Works</h3>
<h4 class="asmthead">Some examples of<BR /> <i>My Work</i>  
    is listed below. <BR /> Feel free to check them out.</h4>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="col-md-12 col-sm-12">
                <a class="btn btn-lg btn-danger" href="@Url.Action("JScript", "Home")">JavaScript Exercises</a>
            </div>
            <div class="col-md-12 col-sm-12">
                <br>
                <strong>Technologies Used</strong>
                <br><br>
                <strong>HTML5 , CSS3 , JQuery</strong> 
            </div>
         </div>
        <div class="col-md-3 col-sm-6">
            <div class="col-md-12 col-sm-12">
                <a href="http://hmitra-bugtracker.azurewebsites.net" class="btn btn-lg btn-danger" target="_blank">Bug Tracker</a>
            </div>
            <div class="col-md-12 col-sm-12">
                <br>
                <strong><span>Technologies Used</span></strong>
                <br><br>
                <strong>HTML5 , CSS3 , JQuery , Bootstrap , RAZOR , C# , <br>MVC5 , SignalR , LINQ</strong>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="col-md-12 col-sm-12">
                <a href="http://carlister.azurewebsites.net" class="btn btn-lg btn-danger" target="_blank">Car Finder</a>
            </div>
            <div class="col-md-12 col-sm-12">
                <br>
                <strong><span>Technologies Used</span></strong>
                <br><br>
                <strong>
                        HTML5 , CSS3 , Jquery , <br> Bootstrap , C# , SQL , <br>WeBApi , AngularJS
                </strong>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="col-md-12 col-sm-12">
                <a href="https://hmitra-financialportal.azurewebsites.net" class="btn btn-lg btn-danger" target="_blank">Financial Planner</a>
            </div>
            <div class="col-md-12 col-sm-12">
                <br>
                <strong><span>Technologies Used</span></strong>
                <br><br>
                <strong>HTML5 , CSS3 , JQuery , Bootstrap , C# , MVC5 , <BR>RAZOR , AJAX , JSON , <BR>LINQ</strong>

            </div>
    </div>
</div>
