
@{
    ViewBag.Title = "Awards";
}

<h2>A few appretiation cards from the clients</h2>

<div id="gallery" class="gallery">
    <h2 class="heading">Awards</h2>


    <div id="grid" class="row gallery-wrap">
        <div class="col-md-4 col-sm-6 col-xs-12 gallery-item" data-groups='["all", "design"]'>
            <div class="gallery-frame">
                <img src="~/img/gallery/gal-img-1.jpg" alt="">
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 gallery-item" data-groups='["all", "web"]'>
            <div class="gallery-frame">
                <img src="img/gallery/gal-img-2.jpg" alt="">
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 gallery-item" data-groups='["all", "design", "flash"]'>
            <div class="gallery-frame">
                <img src="img/gallery/gal-img-3.jpg" alt="">
            </div>
        </div>

    </div>

</div>
<!-- Gallery end -->

