@{
    ViewBag.Title = "Home Page";
}

<!-- HERO SECTION -->
<section id="hero" class="section-wrap bg-parallax">
    <div class="container">
        <!-- Hero Image -->
        <figure class="hero-figure">
            <img src="~/img/hema_profile_new.png" alt="" />
        </figure>
        
        <!-- Hero Content -->
        <div class="hero-content">
            <h2 class="fade-toggle hero-content-title">Hema Mitra</h2>

            <p>Hi, I'm Hema, a web developer based in Greensboro, NC. </p><br>

            <a href="@Url.Action("AboutMe", "Home")" class="btn btn-lg btn-danger">Find Out More <i class="fa fa-angle-double-down"></i></a>
        </div>

    </div><!-- .container -->
</section>
<!-- HERO SECTION END -->
