@model IEnumerable<Portfolio.Models.BlogPost>

@{
    ViewBag.Title = "Create";
}
<br><br>
<h3 class="asmthead fade-toggle">Create A Blog</h3>

<form action="@Url.Action("Create")" method="post">
    Title : <input type="text" name="Title"><br /><br />
    Slug : <input type="text" name="Slug"><br /><br />
    Body : <input type="text" name="Body"><br /><br />
    URL : <input type="text" name="MediaURL"><br /><br />
    @*Comments : <input type="text" name="Comments"><br /><br />*@
    <input type="submit" name="Create Blog" class="btn btn-danger">
</form>


