

@{
    ViewBag.Title = "Blog Index";
}


<body class="blog-page">
  
  <!-- SUBHEADER -->
  <div class="subheader">
    <div class="container">
	  <div class="row">
	
	    <div class="col-md-8 col-sm-8">
	  
	      <!-- Breadcrumb -->
	      <ol class="breadcrumb">
	        <li><a href="#">Home</a></li>
		    <li class="active">Blog</li>
	      </ol>
		  
		</div>
		
		<div class="col-md-4 col-sm-4">
	  
	      <!-- Search Form -->
		  <form class="blog-search">
	        <input type="text" class="form-control" id="blog-search" placeholder="Search article...">
		  </form>
		  
		</div>
		
	  </div><!-- .row -->
	</div><!-- .container -->
  </div>
  <!-- SUBHEADER END -->
	
  <div id= "main" class="container">
    <div class="row">
      <div class="col-md-8">
	  
	    <!-- BLOG POST -->
	    <div class="blog">
	      <article class="blog-post">
            <h2 class="blog-title"><a href="#">My First Job</a></h2>
							
            <img class="blog-thumb" src="img/thumb/thumb-2.jpg" alt="">
							
            <div class="blog-meta">
              <ul class="list-inline list-unstyled">
                <li><i class="fa fa-calendar"></i> 26 May 2013</li>
                <li><i class="fa fa-folder-open"></i> <a href="#">Work</a></li>
			    <li><i class="fa fa-tags"></i> <a href="#">work</a>, <a href="#">office</a></li>
                <li><i class="fa fa-comments"></i> <a href="#">10</a></li>
              </ul>
            </div>
							
            <p>Which. Seed divide subdue. And first that gathered earth whales shall tree after place also wherein saying created likeness fowl. Blessed fish green set fill saying greater you whales can't, <a href="#">fruitful</a> form itself fifth created rule upon moving fourth. I green.</p>
							
            <a class="pull-right" href="#"><i>continue reading &nbsp;<i class="fa fa-angle-double-right"></i></i></a>
          </article>
			
		  <article class="blog-post">
            <h2 class="blog-title"><a href="#">Vacation Go!</a></h2>
							
            <img class="blog-thumb" src="img/thumb/thumb-3.jpg" alt="">
							
            <div class="blog-meta">
              <ul class="list-inline list-unstyled">
                <li><i class="fa fa-calendar"></i> 17 Sep 2012</li>
                <li><i class="fa fa-folder-open"></i> <a href="#">Travelling</a></li>
				<li><i class="fa fa-tags"></i> <a href="#">holiday</a>, <a href="#">beach</a></li>
                <li><i class="fa fa-comments"></i> <a href="#">23</a></li>
              </ul>
            </div>
							
            <p>Which. Seed divide subdue. And first that gathered earth whales shall tree after place also wherein saying created likeness fowl. Blessed fish green set fill saying greater you whales can't, <a href="#">fruitful</a> form itself fifth created rule upon moving fourth. I green.</p>
							
            <a class="pull-right" href="#"><i>continue reading &nbsp;<i class="fa fa-angle-double-right"></i></i></a>
          </article>
			
		  <article class="blog-post">
            <h2 class="blog-title"><a href="#">New Year Wish</a></h2>
							
            <img class="blog-thumb" src="img/thumb/thumb-1.jpg" alt="">
							
            <div class="blog-meta">
              <ul class="list-inline list-unstyled">
                <li><i class="fa fa-calendar"></i> 1 Jan 2012</li>
                <li><i class="fa fa-folder-open"></i> <a href="#">Chat</a></li>
				<li><i class="fa fa-tag"></i> <a href="#">free time</a></li>
                <li><i class="fa fa-comments"></i> <a href="#">15</a></li>
              </ul>
            </div>
							
            <p>Which. Seed divide subdue. And first that gathered earth whales shall tree after place also wherein saying created likeness fowl. Blessed fish green set fill saying greater you whales can't, <a href="#">fruitful</a> form itself fifth created rule upon moving fourth. I green.</p>
							
            <a class="pull-right" href="#"><i>continue reading &nbsp;<i class="fa fa-angle-double-right"></i></i></a>
          </article>
		  
		  <!-- Pagination -->
		  <nav class="text-right">
		    <ul class="pagination">
			  <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
		  
	    </div>
		<!-- BLOG POST END -->
		
	  </div>
	
	  <div class="col-md-4">
	    
		<!-- SIDEBAR -->
		<div class="sidebar">
		  <div class="sidebar-wrap">
		    <h3 class="sidebar-title">Popular</h3>
			
			<ul class="fa-ul sidebar-list">
              <li><i class="fa-fw fa-li fa fa-angle-double-right"></i><a href="#">And first that gathered earth whales shall tree after place also wherein saying</a></li>
              <li><i class="fa-fw fa-li fa fa-angle-double-right"></i><a href="#">Ornare augue rhoncus pulvinar laoreet blandit conubia curabitur pulvinar tristique</a></li>
              <li><i class="fa-fw fa-li fa fa-angle-double-right"></i><a href="#">Nisl tincidunt scelerisque gravida velit velit bibendum feugiat volutpat cras</a></li>
              <li><i class="fa-fw fa-li fa fa-angle-double-right"></i><a href="#">Habitasse purus fames fermentum class tellus blandit purus bibendum per ullamcorper</a></li>
            </ul>
		  </div>
		  
		  <div class="sidebar-wrap">
		    <h3 class="sidebar-title">Featured</h3>
			
			<ul class="fa-ul sidebar-list">
              <li><i class="fa-fw fa-li fa fa-star"></i><a href="#">Nisl tincidunt scelerisque gravida velit velit bibendum feugiat volutpat cras</a></li>
              <li><i class="fa-fw fa-li fa fa-star"></i><a href="#">Ornare augue rhoncus pulvinar laoreet blandit conubia curabitur pulvinar tristique</a></li>
              <li><i class="fa-fw fa-li fa fa-star"></i><a href="#">Habitasse purus fames fermentum class tellus blandit purus bibendum per ullamcorper</a></li>
              <li><i class="fa-fw fa-li fa fa-star"></i><a href="#">And first that gathered earth whales shall tree after place also wherein saying</a></li>
            </ul>
		  </div>
		  
		  <div class="sidebar-wrap">
		    <h3 class="sidebar-title">Category</h3>
			
			<ul class="fa-ul sidebar-list">
              <li><i class="fa-fw fa-li fa fa-folder-open"></i><a href="#">Chat (10)</a></li>
              <li><i class="fa-fw fa-li fa fa-folder-open"></i><a href="#">Travelling (5)</a></li>
              <li><i class="fa-fw fa-li fa fa-folder-open"></i><a href="#">Work (21)</a></li>
              <li><i class="fa-fw fa-li fa fa-folder-open"></i><a href="#">Zumba (200)</a></li>
            </ul>
		  </div>
		  
		  <div class="sidebar-wrap">
		    <h3 class="sidebar-title">Twitter Widget</h3>
			
		    <div id="twitter-widget" class="twitter-widget" data-widget-id="347099293930377217" data-widget-length="3" ></div>
		  </div>
		  
		</div>
		<!-- SIDEBAR END -->
		
	  </div>
    </div><!-- .row -->
  </div><!-- .container -->
</body></html>